<footer class="footer">
    <div class="ftenaa">

        <div class="contact-about">
            <a href="#"></a>
            <img src="assets/contact-logo.png" alt="">
            <p>There are many variations of passaes of rem Ipsum avalable, but the majority ha
                ve sueratio inome form, binjected humour, or romised s whichelievable.amr kono dos nai..</p>
            <button class="fb-btn">LINK US ON FACEBOOK</button>
        </div>

        <div class="contact-info">
            <p class="ftp">CONTACT <span class="touch">US</span> </p> 
            <p>ur address goes here,stree Crossroad123. </p>
            <p>phone: +37494350669 </p>
            <p>fax: 12 5465 87 8 </p>
            <p>email: info@demo.com </p>
        </div>

        <div class="contact-about">
            <p class="ftp">GET IN <span class="touch"> TOUCH</span></p>
            <form [formGroup]="form">
                <input type="text" name="name" class="ftinput" placeholder="your name" formControlName="name">
                <input type="text" name="email" class="ftinput" placeholder="your email" formControlName="email">
                <textarea name="message" id="" cols="45" rows="10" formControlName="text">your message</textarea>
                <button class="btn-sbm" (click)='submit()'[disabled]='form.invalid' >SUBMIT</button>
            </form>
        </div>

    </div>
    
</footer>
<div class="copyright"><p  class="lastP">© 2021 Enaa  Made by </p></div>

