<div class="blog">
<div class="section-title text-center col-xs-12 mb-30 blog-title">
    <h2 >Our  <span class="our">Blog</span> </h2>
<p>There are many variations of passaes of Lorem Ipsum avalable, but the majority h suffered <br>
    alteratio in some form, binjised words which believable.</p>
</div>
</div>

<div class="container pics">
    <div class="row">
   <div  class="col galery">
       <img src="../../assets/bpic.jpg" alt="">
       <div class="context " ><span class="date">15 june 2021</span>
        <span class="more">On the other hand we are not.</span>

        <p>       15 june 2021
         On the other hand we are not.
         There are many variations of passaes of L
         orem Ipsum avalable, but the majority h suffered alteratio in some form.</p>

        <span class="read">Read More</span></div>
       
    </div>
       
    <div  class="col-6 galery" >
        <img src="../../assets/bg.jpg" alt="">
        <div class="context col">
         <span class="date">15 june 2021</span>
         <span class="more">On the other hand we are not.</span>
         <p >       15 june 2021
          On the other hand we are not.
          There are many variations of passaes of L
          orem Ipsum avalable, but the majority h suffered alteratio in </p>
         <span class="read">Read More</span>
        </div>
    </div>
 

    <div class="col-6 galery">
        <img src="../../assets/bgg.jpg" alt="">
        <div class="context">
         <span class="date">15 june 2021</span>
         <span class="more">On the other hand we are not.</span>
         <p>       15 june 2021
          On the other hand we are not.
          There are many variations of passaes of L
          orem Ipsum avalable, but the majority h suffered alteratio in some form.</p>
         <span class="read">Read More</span>
        </div>
    </div>
 
  

   

   <div  class="col galery">
    <img src="../../assets/bpic.jpg" alt="">

    <div class="context ">
     <span class="date" >15 june 2021</span>
     <span class="more">On the other hand we are not.</span>
     <p>       15 june 2021
      On the other hand we are not.
      There are many variations of passaes of L
      orem Ipsum avalable, but the majority h suffered alteratio in some form.</p>
     <span class="read">Read More</span>
    </div>

</div>

</div>
</div>
<div class="started">
    <h2 class="welcome ">Wellcome TO Enna</h2>
    <div class="startedheader container">
       
            
            <h1 class="">Start Your Business Right Now</h1>
            <button class="startbtn getstarted btn transparent black hover-black ">Get Started</button>
        
 
    </div>
  
</div>
<div class="companies d-flex justify-content-center d-flex align-items-center ">
    <div class="row">
    <div class="col comp-item">
        <img src="../../assets/3 (1).png" alt="" >
    </div>
    <div class="col comp-item">
        <img src="../../assets/4.png" alt="" >
    </div>
    <div class="col comp-item">
        <img src="../../assets/5.png" alt="">
    </div>
    <div class="col comp-item">
        <img src="../../assets/1 (1).png" alt="">
    </div>
    <div class="col comp-item">
        <img src="../../assets/2 (1).png" alt="">
    </div>
</div>
</div>