/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin:0px;
    padding:0px
  }
  
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}
